
# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment variables
.env

# Data
data/
logs/

# DBT
medical_warehouse/dbt_packages/
medical_warehouse/target/
medical_warehouse/logs/

# IDE
.vscode/
.idea/


pr_message_task_*.md
yolov8n.pt
